*{
	margin: 0;
	padding: 0;
	font-family: calibri, ,segoe ui, arial, tahoma, sans-serif;
}

body{
	background-color: #ffffff;
}

#wrapper{
	width: 780px;
	margin: 0 auto;
	overflow: hidden;
}

#header{
	background: url(www.jpg) repeat-x #555;
	height: 50px;
	width: 100%;
	padding: 5px;
	margin: 20px 0;
	overflow: hidden;	
}

#menu-utama{
	margin-top: 3px;
	list-style: none;
}

#menu-utama li{
	float: left;
	padding: 8px 20px;
	border-right: 1px solid #555555;
}

#menu-utama li a{
	color: #ffffff;
	text-decoration: none;
}

#header form{
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}

#header form input{
	border: none;
	height: 20px;
}

#daftar-anime{
	width: 470px;
	float: left;
}

.anime{
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.anime img{
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 135px;
}

.anime b{
	color: #616060;
	background: #DDDDDD;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
}

.anime p{
	margin: 10px 0;
}

.anime a{
	display: block;
	text-align: right;
	color: #636363;
}

#sidebar{
	width: 270px;
	float: right;
}

#sidebar h2{
	font-size: 24px;
	margin: 10px 0;
}

#sidebar p{
	line-height: 20px;
	color: #636363;
}

#sidebar ul li a{
	color: #636363;
	text-decoration: none;
}

#df-anime{
	width: 270px;
	float: left;
}
#df-anime h2{
	font-size: 24px;
	margin: 10px 0;
}

#df-anime p{
	line-height: 20px;
	color: #636363;
}

#df-anime ul li a{
	color: #636363;
	text-decoration: none;
}

#sidebar #latestnews{
	display:block; 
	width:100%; 
	margin:0; 
	padding:0; 
	list-style:none;
}
#sidebar #latestnews li{
	display:block; 
	width:100%; 
	min-height:80px; 
	margin:0 0 25px 0; 
	padding:0 0 15px 0; 
	border-bottom:1px dotted #C7C5C8; 
	overflow:hidden;
}
#sidebar #latestnews li.last{
	padding-bottom:0; 
	margin-bottom:0; 
	border-bottom:none;
}
#sidebar #latestnews p{
	display:inline;
}
#sidebar #latestnews p strong{
	display:block; 
	margin-bottom:5px;
}
#sidebar #latestnews img{ 
	float: left;
	margin-right: 10px;
	width: 100px;
	height: 70px; 
	border:1px solid #BFE009; 
	clear:left;
}

.gallery{padding:20px 0 30px 0;}
.gallery h2{
	width: 860px;
	display:block;
	text-align:center; 
	margin: 20px 0; 
	padding:0; 
	color:#2C2C2C; 
	background-color:#000000; 
	font-size:24px; 
	text-transform:uppercase; 
	line-height:normal;
}
.gallery ul{
	display:inline; 
	margin:0; 
	padding:0; 
	list-style:none;
}
.gallery ul li{display:block; 
	float:right; 
	margin:0 10px 10px 0;
}
.gallery ul li img{padding:4px; 
	border:1px solid #BFE009;
}
.gallery ul li.last{
	margin-right:0;
}

#footer{
	clear: both;
	margin: 20px 0;
	text-align: center;
	background-color: #f0f0f0;
	padding: 5px;
	color: #555555;
}